.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFBEA;
  color: rgb(24 24 27);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tagline {
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 1.4;
  max-width: 840px;
  text-align: center;
  margin-bottom: 8px;
}

.taglineParagraph {
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
  max-width: 840px;
}

.footer {
  padding: 20px;
}

.button {
  font-size: 21px;
  font-weight: 700;
  padding: 15px 25px;
  border-radius: 7px;
  border: 2px solid #18181b;
  background: linear-gradient(#E2EAE4, #ede8d9);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 18%);
  cursor: pointer;
  margin: 8px;
}

.button:hover {
  background: #18181b;
  color: #fff;
}

.banners {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.banners img {
  cursor: pointer;
  padding: 8px;
}

@media (max-width: 600px) {
  .tagline {
    font-size: 1.6rem;
  }

  .taglineParagraph {
    font-size: 1.1rem;
  }
}
